# python 3.9

# pip3 install torch==1.10.2+cu113 torchvision==0.11.3+cu113 torchaudio==0.10.2+cu113 -f https://download.pytorch.org/whl/cu113/torch_stable.html

numpy
opencv-python==4.5.5.62  # for image (and video) analyis
tqdm  # used for creating Progress Meters/Bars
